.best {
    padding-top: 100px;
    padding-bottom: 114px;
    background-image: url(/public/img/best__bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.best__wrapper {
    display: flex;
    justify-content: space-around;
}
.best__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #FBB034;
    padding-bottom: 24px;
}
.best__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 94.5%;
    color: #000000;
    max-width: 451px;
    padding-bottom: 13px;
}
.best__description {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #565656;
    max-width: 401px;
    padding-bottom: 43px;
}
.best__btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #000000;
    padding: 18px 53px;
    background-color: #FBB034;
    border: 1px solid #FBB034;
}